@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bacasime Antique', serif;
  border-radius: 10px;

}

.container{
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  text-align: center;
  min-height: 100vh;
  gap: 1rem;
}

header{
  padding: 1rem;
  background: indianred;
  color: gold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
}

h1 {
  margin-left: 2rem;
}

.count {
  margin-right: 2rem;
}
img{
  width: 50px;
  height: 50px;
  color: gold;
}
span{
  display: inline-flex;
  background: gold;
  color: black;
  right: 40px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
}

main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  margin: 0 auto;
  overflow: scroll;
}

.newItem{
  padding: 1rem;
  background: cadetblue;
}
.newItem form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

form input{
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  outline: none;
  border: none;
}

form button{
  padding: 0.5em 1em;
  font-size: 1.5rem;
  background: #e1cd71;
  color: black;
  outline: none;
  cursor: pointer;
  border: none;
}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: yellow;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: indianred;
  font-size: 1.5rem;
}
.item:nth-child(1){
  font-weight: bold;
  color: whitesmoke;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  border: 1px solid yellow;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.done {
  display: flex;
  align-items: center;
  gap: 10px
}

.option{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #e1cd71;
  padding: 1rem;
  font-size: 1.5rem;
}
h3 {
  background: gold;
  color: black;
  padding: 2rem;
  font-size: 2rem;
}

footer{
  max-height: 10vh;
  background: #e1cd71;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}

