<div class="container">
  <header>
    <h1>ToDooos <sup class="count">{{itemCount}}</sup></h1>
  </header>
  <main>
    <div class="newItem">
      <form action="#">
        <input type="text" #todoItem placeholder="enter new task...">
        <button type="submit" (click)="add(todoItem.value); todoItem.value = ''">Add</button>
      </form>
    </div>
    <div class="items">
      <div class="item">
        <div class="number">#</div>
        <div class="task">Task</div>
        <div class="done">Done</div>
      </div>
      <div class="item" *ngFor="let item of items; let i = index">
        <div class="number">{{i + 1}}</div>
        <div class="task">{{item.task}}</div>
        <div class="done"><input type="checkbox" [(ngModel)]="item.complete"></div>
      </div>
    </div>
    <div class="option">
      <input type="checkbox" name="option" id="option" [(ngModel)]="showCompleted">
      <p>Show completed tasks</p>
    </div>
  </main>
</div>
